<div style="position:relative;" width="360" height="310">
  <div style="position:fixed;left:<%- over %>; overflow: hidden;"></div>
  <div style="position:absolute;left:<%- field %>" width="360" height="310">
    <input class="bgtheme" type="button" disabled/>
    <img width="320" height="180" style="position:absolute;top: 20; left: 20" alt="Background" src="<%- theme.preview.background %>">
    <img width="300" height="21.25" style="position: absolute;top: 28.75; left: 30" alt="TopMenu" src="<%- theme.preview.topmenu %>">
    <input style="position: absolute;top: 37; left: 148.75; border: 0;font-family: 'TrueType'; font-size: 5; font-weight: bold; background-color: transparent; border: 0; color: white" alt="Time" type="text" value="20:06" size="1" disabled>
    <input style="position: absolute;top: 33.75; left: 195;border: 0;font-family: 'TrueType'; font-size: 5; font-weight: bold; background-color: transparent; border: 0; color: white" alt="Perc" type="text" value="99%" size="1" disabled>
    <input style="position: absolute;top: 37; left: 305; border: 0;font-family: 'TrueType'; font-size: 5; font-weight: bold; background-color: transparent; border: 0; color: white" alt="FirmVer" type="text" value="9.0.1" size="1" disabled>
    <img width="320" height="33.75" style="position: absolute;top: 166.25; left: 20" alt="BannerInstalled" src="<%- theme.preview.bannerinstalled %>">
    <img width="15" height="15" style="position: absolute;top: 32; left: 172.5" alt="Logo" src="https://github.com/XorTroll/uLaunch/blob/master/LibraryAppletQMenu/RomFs/Logo.png?raw=true">
    <img width="12.5" height="12.5" style="position: absolute;top: 33.25; left: 40" alt="NoConnectionIcon" src="<%- theme.preview.noconnectionicon %>">
    <input style="position: absolute;top: 33.25; left: 87.5; width: 12.5; height: 12.5; border: 0; background-color: #808080;" alt="User" type="button">
    <img width="12.5" height="12.5" style="position: absolute;top: 33.25; left: 105" alt="WebIcon" src="<%- theme.preview.webicon %>">
    <img width="7.5" height="7.5" style="position: absolute;top: 40; left: 195" alt="BatteryNormalIcon" src="<%- theme.preview.batterynormalicon %>">
    <img width="12.5" height="12.5" style="position: absolute;top: 33.25; left: 240" alt="SettingsIcon" src="<%- theme.preview.settingsicon %>">
    <img width="12.5" height="12.5" style="position: absolute;top: 33.25; left: 257.5" alt="ThemesIcon" src="<%- theme.preview.themesicon %>">
    <img width="60" height="17.5" style="position: absolute;top: 70; left: 150" alt="ToggleClick" src="<%- theme.preview.toggleclick %>">
    <input style="position: absolute;top: 172.5; left: 30; border: 0;font-family: 'TrueType'; font-size: 5; font-weight: bold; background-color: transparent; border: 0; color: white" alt="itemName" type="text" value="Show all titles" size="119.5" disabled>
    <input style="position: absolute;top: 182.5; left: 30; border: 0;font-family: 'TrueType'; font-size: 5; font-weight: bold; background-color: transparent; border: 0; color: white" alt="itemAuthor" type="text" value="" size="119.5" disabled>
    <input style="position: absolute;top: 188.75; left: 30; border: 0;font-family: 'TrueType'; font-size: 5; font-weight: bold; background-color: transparent; border: 0; color: white" alt="itemVersion" type="text" value="" size="119.5" disabled>
    <img width="64" height="64" style="position: absolute;top: 93.25; left: 44.5" alt="AllTitles" src="<%- theme.preview.alltitles %>">
    <img width="64" height="64" style="position: absolute;top: 93.25; left: 113.5" alt="Folder" src="<%- theme.preview.folder %>">
    <img width="74" height="74" style="position: absolute;top: 88.25; left: 39.5" alt="Cursor" src="<%- theme.preview.cursor %>">
    <img width="64" height="64" style="position: absolute;top: 93.25; left: 182.5" alt="Folder" src="<%- theme.preview.folder %>">
    <img width="64" height="64" style="position: absolute;top: 93.25; left: 251.5" alt="Folder" src="<%- theme.preview.folder %>">
    <h4 style="position:absolute;top:190;left:1;right:1"><%- theme.name %></h4>
    <h6 style="position:absolute;top:210;left:1;right:1"><%- theme.description %></h6>
    <h5 style="position:absolute;top:230;left:1;right:1">By <%- theme.author %></h5>
    <input style="position:absolute;top:275;left:67.5;right:67.5" class="tdl" type="button" value="<%- options.lang.ulaunch.download %>" id="<%- num %>"/>
  </div>
</div>
