<h2>Payload Injection</h2>
<div id="tool">
  <% if(process.platform === "win32"){ %>
    <p><%- options.lang.payload.desc %> TegraRcmSmash</p>
  <% } else { %>
    <p><%- options.lang.payload.desc %> fusee-launcher</p>
  <% } %>
  <p><%- options.lang.payload.how %></p>
  <section>
    <input class="button" type="button" value="<%- options.lang.payload.online %>" id="online"/>
    <input class="button" type="button" value="<%- options.lang.payload.file %>" id="local"/>
  </section>
</div>
<br>
<input class="button" type="button" value="<%- options.lang.mainmenu %>" id="mainmenu" style="visibility: visible;"/>
