<h3><%- options.lang.rcm.title %></h3>
<p><%- options.lang.rcm["1"] %><br>
<%- options.lang.rcm["2"] %><br>
<%- options.lang.rcm["3"] %></p>
<input class="button" type="button" value="<%- options.lang.rcm.done %>" id="continue"/>
