<h2>Homebrew Appstore</h2>
<style>input.search {width: 1112}</style>
<div id="tool" style="overflow-x:hidden;">
  <label class="search" style="display:none"><input id="search" type="text" class="search" placeholder="<%- options.lang.appstore.search %>"></label>
  <div class="appGrid" style="width:1112"></div>
  <div id="appInfo" style="display:none">
    <h3 style="margin: 0 0 10 0" id="title"></h3>
    <img id="image" width="727" height="178" src="<%- `data:image/png;base64,${fs.readFileSync(path.join(__dirname, "ui", "appstore", "noscreen.png")).toString("base64")}` %>" onerror="this.src='<%- `data:image/png;base64,${fs.readFileSync(path.join(__dirname, "ui", "appstore", "noscreen.png")).toString("base64")}` %>'">
    <h4 style="margin: 10 0 5 0" id="desc"></h4>
    <h4 style="margin: 0 0 10 0" id="author"></h4>
    <section style="margin: 20 0 25 0">
      <a id="download" class="button" style="text-decoration: none;margin: 0 5 0 0;" href=""><%- options.lang.appstore.download %></a>
      <a id="source" class="button" style="text-decoration: none;" href=""><%- options.lang.appstore.source %></a>
    </section>
    <h4 style="margin: 0 0 10 0;width:720;position:relative;left:50%;transform:translate(-50%)" id="details"></h4>
    <h4 style="margin: 0 0 10 0;" id="additional"></h4>
    <h4 style="margin: 0 0 10 0;" id="changelog"></h4>
  </div>
</div>
<br>
<section>
  <input class="button" type="button" value="<%- options.lang.mainmenu %>" id="mainmenu" style="visibility: visible;"/>
  <input class="button" type="button" value="<%- options.lang.appstore.return %>" id="return" style="display:none"/>
</section>
