<h2>Switch Drivers</h2>
<div id="tool">
  <p><%- options.lang.drivers.desc %></p>
  <% if(process.platform === "win32"){ %>
    <p><%- options.lang.drivers.win.how %></p>
    <section>
      <input class="button" type="button" value="<%- options.lang.drivers.win.auto %>" id="automatic"/>
      <input class="button" type="button" value="Zadig" id="zadig"/>
      <input class="button" type="button" value="<%- options.lang.drivers.win.device %>" id="manager"/>
    </section>
  <% } else { %>
    <input class="button" type="button" value="<%- options.lang.updater.continue %>" id="continue"/>
  <% } %>
</div>
<br>
<input class="button" type="button" value="<%- options.lang.mainmenu %>" id="mainmenu" style="visibility: visible;"/>
