<h2>SXOS License</h2>
<div id="tool">
  <p><%- options.lang.sxoslicense.desc %></p>
  <input type="button" id="select" value="<%- options.lang.sxoslicense.select %>" class="button"/>
  <p id="file"></p>
  <div id="licensetext" style="visibility: hidden;">
    <p><%- options.lang.sxoslicense.license %></p>
    <input type="text" class="license" id="license" ref="Your license code" value=""/>
  </div>
  <br>
  <div id="sign" style="visibility: hidden;">
    <input type="button" id="select" value="<%- options.lang.sxoslicense.sign %>" class="button"/>
  </div>
</div>
<br>
<input class="button" type="button" value="<%- options.lang.mainmenu %>" id="mainmenu" style="visibility: visible;"/>
